@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #FFF;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.spinner{
  position: absolute;
  left: 50%;
  top: 50%;
}

.lists{
  margin-top: -80px;
}